.row
  .col-md-12
    .page-header
      %h1 Editing note
    .row.well
      .col-md-12
        = render 'form'

    .row
      .col-md-12
        = link_to 'Show', @note
        \|
        = link_to 'Back', notes_path
