.row
  .col-md-12
    .page-header
      %h1= @note.created_at.in_time_zone('Tokyo').strftime('%D %H:%M:%S')
    .row.well
      .col-md-12
        = render 'note', note: @note.body

    - if logged_in?
      .row
        .col-md-3
          = link_to 'Edit', edit_note_path(@note)
          |
          = link_to 'Back', notes_path
