@import 'bootstrap-material-design/sass/_colors.scss';

.tag-label {
  margin-right: 5px;
}

.tag-remove {
  margin-left: 5px;
  color: $white;

  &:hover {
    color: $grey;
  }
}

.tag-input {
  margin-top: 10px;
}

.normal-font {
  font-weight: normal;
}

.tags {
  margin-top: 10px;
}
