// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag-label {
  margin-right: 5px;
}

.tag-remove {
  margin-left: 5px;
  color: #fff;

  &:hover {
    color: #777;
  }
}

.tag-input {
  margin-top: 10px;
}

.normal-font {
  font-weight: normal;
}

.tags {
  margin-top: 10px;
}

.suggestions {
  position: absolute;
  z-index: 10000;
  margin-top: -8px;
}

.suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 204px;
  padding-left: 0;
}

.suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

.suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.suggestions ul li.active {
  background: #b7cfe0;
  cursor: pointer;
}

a {
  &:link {
    text-decoration: none;
  }

  &:hover, &:active {
    text-decoration: none;
    color: darken(#009688, 10%)
  }
}
