.tag-label {
  margin-right: 5px;
}

.tag-remove {
  margin-left: 5px;
  color: #fff;

  &:hover {
    color: #777;
  }
}

.tag-input {
  margin-top: 10px;
}

.normal-font {
  font-weight: normal;
}

.tags {
  margin-top: 10px;
}
