%footer.footer{itemscope: true, itemtype: 'http://schema.org/WPFooter'}
  .container-fluid.text-center
    &copy;
    %span{itemprop: 'copyrightYear'}= Time.current.year
    %span{itemprop: 'copyrightHolder'} tenq
    All rights reserved.


